.bordes{
    border-top: 5px solid #4d9aff; 
    border-left: 9px solid #ffde4d; 
    border-right: 3px solid #ffde4d; 
    border-bottom: 9px solid #ffde4d;
}

.titulo{
    text-decoration: underline 4px #ffde4d; 
    padding-bottom: 10px; 
    padding-top: 10px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}