<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-outline" text="Volver"></ion-back-button>
    </ion-buttons>

    <ion-title color="dark">Nosotros</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="bordes">

    <img src="assets/imagenWau.png" alt="" style="border-bottom: 4px solid #ffde4d;">

    <ion-card-title class="ion-text-center titulo" style="font-size: 26px;">
    
    —Nuestra Misión—
  
    </ion-card-title>
    <ion-card-subtitle class="ion-text-center" style=" 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;">
    
    Somos —TeLlevoApp—
  
    </ion-card-subtitle>

    <ion-card-content>

      <p class="ion-justify-content-start" style="color: rgb(41, 41, 41); padding-bottom: 20px;">

        Una aplicación dedicada al transporte voluntario de nuestros Alumnos.
        <br><br>
        ¡Planificas tu Ruta, o hazla tu mismo!
        <br>
        ¡Puedes tomar viajes con tus compañeros o realizar tu mismo los viajes,
        para que otros se puedan unir a ti!
        <br><br>
        <img src="assets/vehiculoNosotros.jpg" alt="" 
          class="bordes">
        <br><br>
        ¡Ven a clases junto a tus compañeros, ayudalos a ellos y a nuestro planeta!

      </p>

    </ion-card-content>

  </ion-card>


</ion-content>
